*{
	margin: 0 0 0 0;

}



body{
background-image: url('homepage_subcribe.jpg');

}

  
#header{
	text-align: center;
}

#mynavbar {
  background-color: #3fc4f8;
  overflow: hidden;
  font-family: sans-serif;
  padding:1px;
  
}

/* Style the links inside the navigation bar */
#mynavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding:16px;
  font-size: 17px;
  margin-left: 50px;
  
}

#subcriptionform {
	position:absolute;
	left: 30%;
	width: 40%;
	font-family: sans-serif;
	padding: 20px;
	padding-left:20px;
}

#heading2 {
color:#3FC4F8;
 font-size : 40px;
left:40%;
top: 10%;
 font-family:sans-serif;
position: absolute;
margin: 50px;
	
}
	
	
#paragraph3 {
	color:black;
	top: 20px;
	left: 20%;
	margin-top: 70px;
	padding: 30px;
	
}

#paragraph4 {
	text-align: center;
}

img {
	text-align:center;
}

footer{
	color:black;
	height:30px;
	text-align:center;
}